<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>    
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043250-avatar-child-girl-kid_113270.png" type="image/gif" sizes="20x20">  
  <link rel="stylesheet" href="./des.css">
</head>
<body>

  <%- include ('./header.ejs') %>  
  <div class="desh_body">
    <div class="left_bar">
        <%- include ('./sitebar.ejs') %>      
    </div>



    <div class="right-site_body"> 

      <div class="cat_page">
        
        <div class="form_tab">
            <h2>Catagori & Group Product</h2>    
            <form action="/catag" method="POST">
              <label for="Title">Title:</label><br>
              <input class="catinput" placeholder="Catagory Title" type="text" name="title" required><br>        
              <input type="submit" class="submit" value="Submit">
            </form> 
        </div>


        <div class="form_view">
          <table class="table">
            <tr>
              <td style="width: 130px; text-align: center">Serial</td>
              <td style="text-align: center">Catagory Title</td>              
              <td>Add Time</td>              
              <td>Action</td>              
            </tr>      
            <% results.forEach((data, index) => { %> 
            <tr>      
                <td style="width: 130px; text-align: center"><%= index+1 %></td>      
                <td style="width: 150px; text-align: center"><%= data.title %></td>        
                <td></td>
                <td><a href="/catadelete/<%= data.id %>">Delete</a></td>
                
            </tr>
            <% }) %>
          </table>
        </div>        
      </div>




      


      


    </div>




  </div>
</body>
</html>
